@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: red;
  border-bottom: 1px solid red;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.activecategory {
  border: 4px solid rgb(226, 84, 84);
  padding: 2px;
}
